html {
    font-family: cursive
}
/* Move down content because we have a fixed navbar that is 50px tall */
body.chatle {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.navbar-default {
    background-color: #000;
}

.title.navbar-brand:focus,
.title.navbar-brand:hover,
.nav.navbar-nav > li > a:hover {
    color: #fff;    
}

li:hover {
    cursor: pointer;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

ul
{
    padding-left: 0;
    list-style-type: none;
}

small {
    color: #666666;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.list-group-item {
    border: 0;
    padding: 0;
}

.list-group-item.active {    
    background-color: #ddd;
    color: #808080
}

.list-group-item.active:hover {    
    background-color: #eee;
    color: #666;
}