################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.build
/.vs
/artifacts
/packages
*.lock.json
*.user
*.xml
/_Chutzpah.coverage.html
/build.txt
bower_components
bin
obj
node_modules
/test/chatle.test/wwwroot/css
/test/chatle.test/wwwroot/js/chat.min.js
/test/chatle.test/wwwroot/lib
/src/chatle/wwwroot/css
/src/chatle/wwwroot/js/chat.min.js
