.idea
.DS_STORE
/.build
/.vs
/.vscode
/artifacts
/packages
*.lock.json
*.user
*.xml
/_Chutzpah.coverage.html
/build.txt
bower_components
bin
obj
node_modules
/test/chatle.test/app.test/**/*.js*
/test/chatle.test/wwwroot/css/site.min.js
/test/chatle.test/wwwroot/lib
/test/chatle.test/wwwroot/js/chat.min.js
/test/chatle.test/wwwroot/js/app
/test/chatle.test/wwwroot/lib
/src/chatle/wwwroot/css/site.min.js
/src/chatle/wwwroot/lib
/src/chatle/wwwroot/js/chat.min.js
/src/chatle/wwwroot/app
/src/chatle/app/**/*.js*
/src/chatle.aurelia/scripts/app-bundle.js
/src/chatle.aurelia/scripts/app-bundle.js.map
/src/chatle.aurelia/scripts/vendor-bundle.js
npm-debug.log
npm-shrinkwrap.json
*.ngfactory.ts
typings
config.development.json
/TestResults
/build
/src/chatle.angular/package-lock.json
*.trx
/test/privatekey.json
/secure-file
/JetBrains.dotCover.CommandLineTools
*.snapshot
/src/ChatLe.Repository.Identity.Firebase/FirebaseFunctions/functions/lib
/coverage/docs
/src/chatle/firebase-key.json
/test/ChatLe.Cryptography.Test/UtilityTest.cs.enc
