@using ChatLe.Models
@model LoginViewModel
@inject SignInManager<ChatLeUser> SignInManager

<h4>Use another service to log in.</h4>
<hr />
@{
	var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
	<form class="form-horizontal" role="form" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
		<div>
			<p>
				@foreach (var provider in loginProviders)
				{
					<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
				}
			</p>
		</div>
	</form>
}
