@using System.Security.Principal
@model UpdatePasswordViewModel

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<form class="form-horizontal" role="form" method="post" asp-action="UpdatePassword" asp-antiforgery="true">
	<h4>Change Password Form</h4>
	<hr />
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label class="col-md-2 control-label" asp-for="OldPassword"></label>
		<div class="col-md-10">
			<input class="form-control" asp-for="OldPassword" />			
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" asp-for="NewPassword"></label>	
		<div class="col-md-10">
			<input class="form-control" asp-for="NewPassword" />			
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" asp-for="ConfirmPassword"></label>
		<div class="col-md-10">
			<input class="form-control" asp-for="ConfirmPassword" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Change password" class="btn btn-default" />
		</div>
	</div>
</form>
