@model GuessViewModel
<form class="form-horizontal" role="form" method="post" asp-controller="Account" asp-action="Guess" asp-antiforgery="true" asp-route-returnurl="@ViewData["ReturnUrl"]">
	<h4>Guess access.</h4>
	<hr />
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label class="col-xs-3 control-label" asp-for="UserName"></label>
		<div class="col-xs-9">
			<input class="form-control" asp-for="UserName" />
			<span class="text-danger" asp-validation-for="UserName"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-offset-3 col-xs-9">
			<input type="submit" value="Log in" class="btn btn-default" />
		</div>
	</div>
</form>