@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}
<div>
    <button>TEST</button>
    <span></span>
</div>
<div id="status"></div>
@section scripts
{
    <script src="~/lib/jquery/js/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/js"></script>
    <script type="text/javascript">
        // only for debug
        $.connection.hub.logging = true;
        var hub = $.connection.test;
        hub.client.test = function (data) {
            $('span').html('Hub test recieve ' + data);
        };
        // for debug only, callback on connection state change
        $.connection.hub.stateChanged(function (change) {
            var oldState = null,
                newState = null;

            for (var state in $.signalR.connectionState) {
                if ($.signalR.connectionState[state] === change.oldState) {
                    oldState = state;
                }
                if ($.signalR.connectionState[state] === change.newState) {
                    newState = state;
                }
            }

            $('#status').html('Hub state changed from ' + oldState + ' to ' + newState);
        });
        // for debug only, callback on connection reconnect
        $.connection.hub.reconnected(function () {
            $('#status').html('Hub reconnect');
        });
        // for debug only, callback on connection error
        $.connection.hub.error(function (err) {
            $('#status').html('Hub error');
        });
        // for debug only, callback on connection disconnect
        $.connection.hub.disconnected(function () {
            $('#status').html('Hub disconnected');
        });
        // start the connection
        $.connection.hub.start()
            .done(function () {
                $('#status').html('Hub started');
            });

        $('button').on('click', function () {
            $.getJSON('home/test')
                .fail(function (jqHXR, status, error) {
                    $('#status').html(status);
                });
        });
    </script>
}