html {
    font-family: cursive;
    height: 100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

.console {
    font-family: 'Lucida Console', Monaco, monospace;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100% - 61px);
}

.navbar.navbar-default {
    background-color: #ffffff;
}

.title.navbar-brand:focus,
.title.navbar-brand:hover,
.nav.navbar-nav > li > a:hover {
    color: #222222;
}

.footer > hr {
    width: 100%;
}

.vertical-container {
    height: 100%;
}

.vertical-list {
    overflow-x: hidden;
    overflow-y: auto;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

ul
{
    padding-left: 0;
    list-style-type: none;
}

small {
    color: #666666;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
