@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <form id="logoutForm" class="navbar-right" method="POST" asp-controller="Account" asp-action="LogOff">
        <input type="hidden" name="reason" />
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a  title="Manage" asp-action="Manage">Hello @User.Identity.Name!"</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">    
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Index">Log in</a></li>
    </ul>
}
