@{
  ViewBag.Title = "About";
}

<div class="row vertical-container">
  <div class="col-xs-12 vertical-container vertical-list">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This site is an open source project. Visit <a href="https://github.com/aguacongas/chatle">the project site on Github</a></p>
  </div>
</div>