@using System.Security.Principal
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-3">
        <h6>CONNECTED</h6>
        <ul data-bind="foreach: users">
            <li>
                <!-- ko if: UserName !== Id -->
                <a href="#" data-bind="text: Id, click: function() { $parent.showMessage($data); }"></a>
                <!-- /ko -->
                <!-- ko if: UserName === Id -->
                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                <!-- /ko -->
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <!-- ko with: currentConv -->
        <h6 data-bind="text: title"></h6>
        <form class="form-inline">
            <input id="message" class="form-control" />
            <button type="submit" class="btn btn-default" data-bind="click: function(data, event) { sendMessage('#message'); }">send</button>
        </form>
        <ul data-bind="foreach: messages">
            <li>
                <small data-bind="text: From"></small><br />
                <span data-bind="text: Text"></span>
            </li>
        </ul>
        <!-- /ko -->
        <!-- ko ifnot: currentConv -->
        <h1>WELCOME TO THIS REALLY SIMPLE CHAT</h1>
        <!-- /ko -->
    </div>
    <div class="col-xs-3">
        <h6>CONV</h6>
        <ul data-bind="foreach: conversations">
            <li>
                <a href="#" data-bind="text: title, click: function() { $parent.showConversation($data); }"></a><br />
                <span data-bind="text: messages() && messages()[0] ? messages()[0].Text: null"></span>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/js"></script>
    <script src="~/scripts/chat.js"></script>
    <script>
        var UserName = '@User.Identity.GetUserName()';
    </script>
}