@using System.Security.Principal
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-3">
        <h6>CONNECTED</h6>
        <ul data-bind="foreach: users">
            <li>
                <!-- ko if: UserName !== Id -->
                <a href="#" data-bind="text: Id, click: function() { $parent.showMessage($data); }"></a>
                <!-- /ko -->
                <!-- ko if: UserName === Id -->
                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                <!-- /ko -->
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <!-- ko with: currentConv -->
        <h6 data-bind="text: title"></h6>
        <input id="message" />
        <button data-bind="click: function(data, event) { sendMessage('#message'); }">send</button>
        <ul data-bind="foreach: messages">
            <li>
                <span data-bind="text: From"></span><br />
                <span data-bind="text: Text"></span>
            </li>
        </ul>
        <!-- /ko -->
        <!-- ko ifnot: currentConv -->
        <h1>WELCOME TO THIS REALY SIMPLE CHAT</h1>
        <!-- /ko -->
    </div>
    <div class="col-xs-3">
        <h6>CONV</h6>
        <ul data-bind="foreach: conversations">
            <li data-bind="click: function() { $parent.showConversation($data); }">
                <span data-bind="text: messages() && messages()[0] ? messages()[0].From: null"></span><br />
                <span data-bind="text: messages() && messages()[0] ? messages()[0].Text: null"></span>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/js"></script>
    <script src="~/scripts/chat.js"></script>
    <script>
        var UserName = '@User.Identity.GetUserName()';
    </script>
}