@using System.Security.Principal
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-3">
        <h6>CONNECTED</h6>
        <ul data-bind="foreach: users">
            <li><a href="#" data-bind="text: Id, click: $parent.showMessage($data)"></a></li>
        </ul>
    </div>
    <div class="col-xs-6">
        <div data-bind="visible: currentConv">
            <!-- ko with currentConv -->
            <h6 data-bind="text: title"></h6>
            <input id="message" />
            <button data-bind="click: function(data, event) { sendMessage($('#message').val()); $('#message').val(''); }">send</button>
            <ul data-bind="foreach: messages">
                <li>
                    <span data-bind="text: From"></span><br />
                    <span data-bind="text: Text"></span>
                </li>
            </ul>
            <!-- /ko -->
        </div>
        <h1 data-bind="visible:  typeof currentConv() === 'undefined'">WELCOME TO THIS REALY SIMPLE CHAT</h1>
    </div>
    <div class="col-xs-3">
        <h6>UNREAD</h6>
        <ul data-bind="foreach: unreadMessages">
            <li data-bind="click: $parent.showMessage.bind(From)">
                <span data-bind="text: From"></span><br />
                <span data-bind="text: Text"></span>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/js"></script>
    <script src="~/scripts/chat.js"></script>
    <script>
        var UserName = '@User.Identity.GetUserName()';
    </script>
}